<html>
<head>
<title>Employee of the Month</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
<section class="header">
<h1>~Employee of the Month~</h1>
<h2>Spread love to your teammates, every month.
</h2>
</section>
<section class ="description">
<p>You and your team work so hard that sometimes you forget to appreciate each others' hard work.</p> 
<p>It's cool, we've got you.</p>

<p>Join Employee of the Month to get monthly care packages delivered to your company.</p> 
<p>Recognize individual awesomeness with desk plants, spa treatments, emergency whiskey, and a whole bundle of surprises.</p>
<p>And at $69/mo, it probably costs less than you spend on team lunch in a day!</p>
<p>TL;DR: Barkbox for your teammates.</p>
</section>
</div>
<form action="/create_subscription.php" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_FoBJucysqa1E5k7n9u1FVhru"
    data-image="images/logo.png"
    data-name="Monthly Subscription"
    data-description="Monthly Subscription"
    data-amount="6900"
    data-label="Sign me up!" >
  </script>
</form>
</body>
</html>